<h1>List of Teams</h1>

<ul>

    <% @teams.each do |team|  %>
    <li>
      <%= link_to team.name, team_path(team.id) %>
      <br / >
      <%= image_tag team.logo %>
    </li>


  <% end %>
</ul>
<hr />
<%= link_to 'Add a team', new_team_path %>
