<h1>List of Scores</h1>
<% @scores.each do |score| %>
<p>Finaly Score:

<%= score.concept + score.style + score.git + score.user_friendly %>
<%= link_to'   (Score Information)', score_path(score.id) %>

</p>

<% end %>

<hr />
<%= link_to 'Add scores', new_score_path %>
