<h1>List of Scores</h1>

<% @scores.each do |score| %>



<p>

  Team Name: <%= score.team %>

  Final Score:<%= score.concept + score.style + score.git + score.user_friendly %>

  <%= link_to '(More information)', score_path(score.id) %>

</p>

<% end %>
