<h1>List of Members</h1>


<ul>
  <% @members.each do |member| %>
    <li>

    <p><%= link_to member.name, member_path(member.id) %></p>





    </li>

  <% end %>

</ul>

<hr />
<%= link_to 'Add a member', new_member_path %>
